*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}


body{
  margin:0;
  padding:0;
  width:100%;
  font-family: Georgia,helvetica,;
  background-color:#f4f4f4;;
  }

.container{
  margin:0px;
  overflow:hidden;
  /*background-color: blue;*/
}



header{
  margin:auto;
  width:80%;
  height:90px;
  background-color:#425E78;
  /*background-color:#700303;*/
  border-bottom:solid #BE9379;
  min-height:90px;
  color:#fff;
  padding:15px;
  }

  header #logo{
    float:left;
    width:auto;
    margin-top:15px;
    margin-left: 60px;
    /*background-color: red;*/
    }


  header #logo h2{
  font-size:200%;
  margin:0;
  text-shadow:5px 5px 5px #888888;

  }


  header a{
    color:#fff;
    text-decoration:none;
    }

    header a:hover{
      color:#aaa;
      font-weight:800;
    }


  header li{
    display:inline;
    float:left;
    margin-right:15px;
    /*margin-right:10px;*/
    }


  header nav{
  float:right;
  margin-top:30px;
  margin-right:15px;
    /*background-color: red;*/
  }


.main_container{
  width:80%;
  height:auto;
  margin:auto;
  padding:0;
  background-color:#FCDD92;
  }


.jumbotron{
  /*background-color: #53cf92;*/
  height:auto;
  border-radius: 5px;
  text-align: center;
  }


  .panel{
    margin:0;
    background-color: :pink;
  }

  .title{
    clear:both;
    width:500px;
    margin:auto;
    font-weight: bold;
    text-align: center;
    color:#99311A;
    /*color:#C53303;*/
    padding-top:20px;
    position:relative;
    top: 30px;
    }


  .title h1{
    font-size: 250%;
    }



.left-panel{
  width:40%;
  min-width:330px;
  float:left;
  margin-top:30px;
  /*background-color:red;*/
  }


.right-panel{
  margin-top:130px;
  margin-right: 40px;
  width:40%;
  float:right;
  /*background-color: blue;*/
  }



.right-panel p{
  font-weight: 800;
  font-family: Georgia;
  font-size: 150%;
  color:#fff;
  }

#dinner{
  width:70%;
  float:none;
  clear:both;
  margin:auto;
  padding:30;
  /*background-color: red;*/

}


#dinner img{
  width:90%;
  margin:auto;
  position: relative;
  bottom:60px;

  }



  .article{
    /*background-color: red;*/
    width:60%;
    min-width: 300px;
    margin:auto;
    color:#C53303;
    padding:20px;
    }

  .article-head{
    font-family: sans-serif;
    font-size: 150%;
    /*background-color: blue;*/

  }


  .article-body{
    line-height:1.5;
    margin-top:20px;
    font-family: georgia;
    /*background-color:#F79600;*/

  }


  .article-body p{
    margin:20px;
    }


  #restaurant-image{
  width:60%;
  min-width: 250px;
  margin:auto;
  }
  #restaurant-image img{
  width:100%;
  margin:auto;
  }


  /*.contact-form{
    color:#ccc;
    float:none;
    clear:both;
    width:100%;
    min-width:250px;
    margin:auto;
  }*/

  .form{
    color:#C53303;
    float:left;
    line-height: 1.5;
    margin-left:20px;
    margin-top:50px;
    width:50%;
    min-width:300px;
    clear:both;
    background-color:#FCDD92;
    text-align: left;
    padding-left: 20px;
    border-radius: 5px;
  }

  .form h2{
    margin-bottom: 10px;
    margin-top: 10px;

  }

  .info{
    color:#C53303;
    margin-top:250px;
    float:right;
    background-color:#FCDD92;
    /*background-color:#9C5D44;*/
    width:40%;
    border-radius: 5px;
    padding-top:20px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    }













@media screen and (max-width:768px){

  header{
    margin:auto;
    width:80%;
    height:90px;
    background-color:#425E78;
    border-bottom: #BE9379 solid;
    min-height:70px;
    color:#fff;
    padding:15px;
    }


    header #logo{
      clear:both;
      width:100%;
      margin:auto;
      /*background-color: red;*/
      }


      header #logo h2{
      font-size:
      margin:auto;
      text-align: center;
      }


    header nav{
    float:left;
    margin-top:10px;
    margin-left:10px;
      /*background-color: red;*/
    }


    header a{
    color:#fff;
    text-decoration:none;
    }


    .title{
      clear:both;
      width:300px;
      margin:auto;
      /*background-color: red;*/
      text-align: center;
      color:#99311A;
      padding-top:20px;
      position:relative;
      top: 30px;
    }

    .title h1{
      font-size: 200%;

    }



  .left-panel{
    float:none;
    min-width:320px;
    padding-top:60px;
    margin:auto;
    /*background-color:red;*/
    }

  .right-panel{
    min-width: 300px;
    float:none;
    padding-top:30px;
    margin:auto;
    /*background-color:red;*/
    }
  


      .article-head{
        font-size: 120%;
      }


      .form{
        float:none;
        margin-top:20px;
        margin-right:auto;
        margin-left:auto;
        }

      .info{
        width:300px;
        float:none;
        margin-top:20px;
        margin-left:auto;
        margin-right:auto;
        }

}

.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px;
  text-align: left;

  padding: 50px 60px 40px;
  margin-top: 80px;
  overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
  float: left;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0 0 10px;
}

.footer-distributed h3 span{
  color:  #5383d3;
}
/* Footer links */
.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}
.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* Footer social icons */
.footer-distributed .footer-icons{
  margin-top: 40px;
}
.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
/* Footer Right */
.footer-distributed .footer-right{
  float: right;
}
.footer-distributed .footer-right p{
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff;
}
/* The contact form */
.footer-distributed form{
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color:  #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color:  #d1d2d2;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
  color:  #5c666b;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
  color:  #5c666b;
}


.footer-distributed form input{
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea{
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button{
  border-radius: 3px;
  background-color:  #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}

/*  responsive media queries */

@media (max-width: 1000px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name{
    font-size: 12px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea{
    width: 250px;
  }

  .footer-distributed form button{
    padding: 10px 35px;
  }

}

@media (max-width: 800px) {

  .footer-distributed{
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left{
    margin-bottom: 40px;
  }

  .footer-distributed form{
    margin-top: 30px;
  }

  .footer-distributed form{
    display: block;
  }

  .footer-distributed form button{
    float: none;
  }
}
